.background {
   background-image: url('../../assets/ZooBackground.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:100%;
    display: flex;
    justify-content: center;
 padding: 10px;
 overflow: hidden;
}