.background {
   background-image: url('../../assets/ZooBackground.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:100%;
 justify-content: end;
 overflow: hidden;
}